$color-primary-light: #e7cbb4;
$color-primary-dark: #28282c;
$color-sec-light: #f0f2f5;
$color-sec-dark: #18191a;
$color-tertiary-light: #d5b69d;
$color-tertiary-dark: #534f4f;

$color-white: #f4f4f4;

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Poppins';
  font-weight: 300;
}

body {
  background-color: $color-sec-light;
}

.container {
  background-color: $color-sec-light;
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 6rem calc(100vh - 6rem);
}

.content {
  display: grid;
  display: flex;
  max-width: 130rem;
  margin: 0 auto;
}
