$color-primary: #e7cbb4;
$color-sec: #f0f2f5;
$color-tertiary: #d5b69d;
$color-four: #161616;
$text-color: #1a1a1a;

$color-white: #f4f4f4;
$color-black: #161616;

$border-raius: 1rem;

.hidden {
  display: none;
}

.darkmode {
  $color-primary: #28282c;
  $color-sec: #18191a;
  $color-tertiary: #534f4f;
  $color-four: #18bcda;
  $text-color: #f4f4f4;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Poppins';
  font-weight: 300;
  color: $text-color;
}

body {
  background-color: $color-sec;
}

.container {
  background-color: $color-sec;
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 6rem;
  display: none;
}

.content {
  display: flex;
  max-width: 130rem;
  margin: 0 auto;
}
