.login__container {
  background-color: #014051e3;
  height: 100%;
  display: flex;
  width: 50%;
  position: relative;
  &-portfolio {
    height: 4rem;
    width: 4rem;
    fill: white;
  }

  &-github {
    height: 4rem;
    width: 4rem;
    fill: white;
  }

  &-email {
    height: 4.5rem;
    width: 4.5rem;
    fill: white;
  }

  &-mail {
  }
  &-password {
    margin-top: 3rem;
  }
  &-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
  }

  &-register {
    display: flex;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    .login__container-mail {
      margin-top: 3rem;
    }

    .login__container-password-2 {
      margin-top: 3rem;
    }
  }
}

#background {
  align-items: center;
  display: flex;
  background-color: #0c4e63;
  width: 100vw;
  height: 100vh;
}

#login {
  display: flex;
  background-image: url('/img/city.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140rem;
  height: 70rem;
  margin: 0 auto;
  box-shadow: 0px 5px 15px 3px #000000e3;
}

.input-login {
  width: 33rem;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5rem;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  outline: none;
  font-family: 'Poppins';
  font-weight: 300;
  color: white;

  &::placeholder {
    color: rgb(199, 199, 199);
  }
}

.login__left {
  width: 50%;
}

.contact {
  position: absolute;
  text-align: center;
  flex-direction: column;
  left: 2rem;
  bottom: 2rem;
  display: flex;
  width: 40%;

  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

.contact-2 {
  position: absolute;
  text-align: center;
  flex-direction: column;
  right: 2rem;
  bottom: 2rem;
  display: flex;
  width: 40%;
  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

.name {
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: white;
}
