.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  user-select: none;
  margin-left: 20rem;
  margin-top: 3rem;
  &-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    min-width: 350px;
    background-color: var(--color-tertiary);
    border-radius: $border-raius;
    padding: 3rem;
    margin-top: 5rem;
    &-add {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;

      &--msg {
        width: 100%;
        background-color: var(--color-tertiary);
        border: none;
        border-radius: 5rem;
        padding: 0.5rem;
        font-size: 1.6rem;
        outline: none;
        font-family: 'Poppins';
        font-weight: 500;
      }

      &--img {
        margin-top: 3rem;
        width: 5rem;
        height: 5rem;
        &:hover {
          cursor: pointer;
        }
      }

      .custom-file-upload {
        position: absolute;
        left: 0;
        top: 6.5rem;
        width: 5rem;
        height: 5rem;
        opacity: 0;
        &:hover {
          cursor: pointer;
        }
      }

      &--upload {
        display: none;

        &:hover {
          cursor: pointer;
        }
      }
    }

    &-btns {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      &--cross {
        height: 3rem;
        width: 3rem;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  &__content {
    padding: 2rem;
    background-color: var(--color-primary);
    width: fit-content;
    max-width: 64rem;
    margin-top: 5rem;
    border-radius: $border-raius;

    .textish {
      margin-top: 1rem;
    }
    &-text {
      color: var(--text-color);
      font-size: 1.5rem;
      margin: 1rem 0.5rem;
      user-select: text;
    }

    &-tags {
      color: rgb(0, 104, 201);
      font-size: 1.4rem;
      margin: 1rem 0.5rem;
      text-transform: uppercase;
      &:hover {
        cursor: pointer;
      }
    }

    &-poster {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 2rem;

      &--img {
        height: 4.5rem;
        border-radius: 50%;
      }

      &--name {
        margin-left: 2rem;
        font-size: 1.4rem;
        font-weight: 500;
        color: var(--text-color);
        user-select: text;
      }
    }

    &-post {
      max-height: 500px;
      border-radius: $border-raius;
      max-width: 600px;
    }

    &-react {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
      width: 100%;

      &--text {
        font-size: 1.3rem;
        font-weight: 500;
        color: var(--text-color);
      }

      .like {
        display: flex;
        align-items: center;
        width: 50%;
      }

      .comment {
        display: flex;
        align-items: center;
      }

      &--like {
        height: 3rem;
        width: 3rem;
        margin: 0 1rem;
        fill: var(--text-color);
      }

      &--comment {
        height: 3rem;
        width: 3rem;
        margin: 0 1rem;
        fill: var(--text-color);
      }
    }
  }
}
.post__content {
  position: absolute;
}

.overlay {
  position: absolute;
  background-color: rgb(255, 255, 255);
  z-index: 2000000;
  height: 100vh;
  width: 100vw;
}
