@media only screen and (max-width: $bp-small) {
  .login__container {
    &-email,
    &-portfolio,
    &-github {
      height: 2.5rem;
      width: 2.5rem;
    }
  }

  .name {
    font-size: 1.2rem;
  }

  .input-login {
    width: 25rem;
  }

  .btn-submit {
    width: 25rem;
  }
}

@media only screen and (max-width: $bp-largest) {
  .login,
  .register {
    width: 100%;
  }

  .login__left {
    display: none;
  }

  #login {
    height: 100%;
  }
}

@media only screen and (max-width: $bp-medium) {
  .sidebar {
    display: none;
  }

  .nav__custom {
    display: none;
  }

  .nav__custom-small {
    display: block;
  }

  .nav__search-ree {
    display: none;
  }

  .main__content {
    width: 95%;
    align-items: center;
    display: flex;
    flex-direction: column;

    &-post {
      max-width: 100%;
    }
  }

  .main__post {
    width: 95%;
    min-width: 95%;

    &-msg {
      min-width: none;
    }
  }
}

@media only screen and (max-width: $bp-huge) {
  .profile,
  .nav {
    border-radius: 0;
  }
}
