.sidebar {
  width: 20rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-primary;
  width: 100%;
  height: 170px;
  border-bottom-left-radius: $border-raius;
  &-image {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
  }

  &-name {
    margin-top: 1rem;
  }
}

.contacts {
  border-right: 0.3em solid $color-primary;
  padding: 0 5rem;
  padding-top: 0.5rem;
}

.users {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - (170px + 60px));
  background-color: $color-sec;
  border-right: 0.4em solid $color-primary;
  &__profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 3rem;
    &-img {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
    }
  }
}

.users-status {
  position: absolute;
  width: 1.2em;
  height: 1.2em;
  background-color: rgb(37, 199, 37);
  border: 0.1px solid white;
  border-radius: 100%;
  margin-left: 3.2em;
  margin-bottom: 5em;
}

.nav__settings {
  height: 3rem;
  width: 3rem;
  fill: $text-color;
}
